<ion-content>
  <div class="container">
    <ion-grid>
     
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="shareText()">
            Share Text
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="shareImage()">
           Share Image
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="shareVideo()">
            Share Video
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="shareLink()">
           Share Link
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>>