<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="showNotificationWithDefaultSound()">
            Notifications with default sound
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="showNotificationWithCustomSound()">
        Notification with custom sound
        </ion-button>
      </ion-col>
    </ion-row>

    </ion-grid>
  </div>
</ion-content>