<ion-header >
  <ion-toolbar color="primary">
    <ion-title size="large">WireFrameApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-list>
      <ion-item routerLink="/camera">
        <ion-text>Image/Video/Video Player</ion-text>
      </ion-item>
      <ion-item routerLink="/audiorecorder">
        <ion-text>Audio Play / Recorder</ion-text>
      </ion-item>
      <ion-item routerLink="/permissions">
        <ion-text>Permissions</ion-text>
      </ion-item>
      <ion-item routerLink="/webview">
        <ion-text>Web Views</ion-text>
      </ion-item>
      <ion-item routerLink="/filechooser">
        <ion-text>File Picker</ion-text>
      </ion-item>
      <ion-item routerLink="/mediacapture">
        <ion-text>Media Capture [Native Photo/Video & Gallery]</ion-text>
      </ion-item>
      <ion-item routerLink="/crop">
        <ion-text>Image Cropping</ion-text>
      </ion-item>
      <ion-item routerLink="/share">
        <ion-text>Share</ion-text>
      </ion-item>
      <ion-item routerLink="/barcode">
        <ion-text>Barcode Scanner</ion-text>
      </ion-item>
      <ion-item routerLink="/pdf">
        <ion-text>PDF VIEWER</ion-text>
      </ion-item>
      <ion-item routerLink="/auth">
        <ion-text>Local Authentication</ion-text>
      </ion-item>
      <ion-item routerLink="/notification">
        <ion-text>Local Notifications</ion-text>
      </ion-item>
      <ion-item routerLink="/socket">
        <ion-text>Socket IO</ion-text>
      </ion-item>
      <ion-item routerLink="/geolocation">
        <ion-text>Geolocation</ion-text>
      </ion-item>
      <ion-item routerLink="/sms">
        <ion-text>Sms Reading</ion-text>
      </ion-item>
      <ion-item routerLink="/rest">
        <ion-text>RestApi</ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>